section {
	display: inline-block;
	width: 30%;
	text-align: center;
	list-style-position: inside;
}

h3 {
	font-size: 36px;
}

.portion {
	font-size: 28px;
}

.portion ol {
	white-space: nowrap;
	font-weight: bold;
	line-height: 175%;
}

.portion li {
	font-size: 20px;
	font-weight: normal;
	line-height: 125%;
}